@import "nib"

vendor-prefixes = webkit o ms moz official

orange1 = #EC721F
orange2 = #FE9100
green1 = #849F2A
green2 = #ABC063
gray1 = #2E2E2E
gray2 = #383838
font-color = #363634


body
	font-size 16px
	font-family sans-serif
	color #363634
	margin 0 auto

a
	color font-color
	text-decoration none
	&:hover
		text-decoration none

ul
	list-style none
	margin 0
	padding 0

h3
	padding .5em
	display inline-block
	margin .7em .5em
	font-weight 800

footer
	background-image linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
	box-shadow inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), 0px 2px 3px 0px rgba(0,0,0,0.35);
	text-align center
	color white
	display block
	padding 1em 0
	p
		display block
		margin 0
		font-size .8em

.tags
	margin 1em 0
	padding-left 1em

.nav-list
	background-image linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
	box-shadow inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), 0px 2px 3px 0px rgba(0,0,0,0.35);
	text-align center
	li
		display inline-block
		a
			color white
			font-size 1.3em
			display block
			padding .4em 1.5em
			transition .5s
			&:hover
				color green1
		&:nth-child(2)
			border-left 1px solid #5C5C5C
			border-right 1px solid #5C5C5C
		&.active
			a
				color green2

.btn-github, .btn-linkedin, .btn-twitter
	font-size 1.6em
	padding 2px 8px

.btn-github
	i
		color #333333

.btn-linkedin
	i
		color #1685D7

.btn-twitter
	i
		color #52A7E7

.social-icons
	margin-left 2em



#me
	display none
	.header-avatar
		background url('../img/background.jpg')
		padding 1.5em 0
		text-align center
		div
			display inline-block
		figure
			display inline-block
			img
				width 150px
				height 150px
	
	.biography
		border-bottom 1px solid #ddd
		box-shadow 0 1px 20px rgba(0,0,0,.075)
		font-size .8em
		margin 0 auto
		padding 1.4em 1em 1em
	.skills
		border-bottom 1px solid #ddd
		border-top 1px solid #ddd
		box-shadow 0 -2px 20px rgba(0,0,0,.075)
		margin 0 auto
		max-width 900px
		padding 1em 1em
		text-align center
		.skills-list
			list-style none
			margin 0px
			padding 0px
			li
				border 1px solid #eeeeee
				border-radius 50%
				background-color #343434
				color white
				display inline-block
				height 80px
				margin .5em .2em
				text-align center
				vertical-align middle
				width 80px
				transition .5s
				&:hover
					background-color #EE7117
					transform rotate(360deg)
				.title
					display block
					font-size .78em
					font-weight bold
					margin-top 1.6em
				.percent
					display block
	.personal-section
		background #363634
		background-image linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
		box-shadow inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), 0px 2px 3px 0px rgba(0,0,0,0.35);
		color white
		padding 1em
		text-align center
		h1
			font-size 1.2em
			margin .1em auto
		h2
			font-size 1em
			margin .1em auto

#portfolio
	display none
	.hits
		padding 0
	.project-btn
		text-align right
	.project-detail
		background-color white
		border-bottom 1px solid #ddd
		box-shadow 0 1px 20px rgba(0,0,0,.075)
		padding 1.2em
		.glyphicon
			animation 1.2s star infinite
			color #FFA600
			font-size 1.3em
		h4
			margin 0px
			strong
				margin-left .7em
	.figure-project
		img
			height auto
			width 100%
	.timeline
		border-top 1px solid #ddd
		box-shadow 0 -2px 20px rgba(0,0,0,.075)
		margin-top 20px
		.timeline-list
			a
				color font-color
				display block
				padding .7em
			li
				border-top 1px solid #ddd
				&:hover
					background-color: #eee
			.date
			.title		
				font-weight 800
				padding 0.2em
			.project-img
				display inline-block
				margin 0 1em
				img
					background-color white
					border 3px solid #ddd
					border-radius 50%
					box-shadow 0 1px 20px rgba(0,0,0,.5)
					height 80px
					padding 0.1em
					width 80px

#project
	display none
	.project-detail
		.figure-project
			img
				width 100%
				height auto
		.project-description
			background-color white
			border-bottom 1px solid #ddd
			box-shadow 0 1px 20px rgba(0,0,0,.075)
			padding 1.1em 1.1em
			h4
				margin-top 0
			p
				font-size .8em
	.project-features
		background-color white
		border-top 1px solid #ddd
		box-shadow 0 -2px 20px rgba(0,0,0,.075)
		overflow hidden
		.feature
			position relative
			min-height 50px
			border-bottom 1px solid #ddd
			figure
				position absolute
				img
					height 56px
					width 50px
			p
				font-size .8em
				margin-left 50px
				padding-left .5em
				padding-top .5em
				.title
					display inline-block
					font-size .9em

#contact
	.info
		background url('../img/background.jpg')
		height 170px
		padding 1em .5em
		position relative
		figure
			position absolute
			left 1em
			img 
				height 110px
				width 110px
		.personal-info
			position absolute
			right 1em
			margin-left 90px
			color white
			font-size .8em
		.social-icons
			position absolute
			bottom 1em
			margin 0
			right 1em
	.form-contact
		border-bottom 1px solid #ddd
		border-top 1px solid #ddd
		box-shadow 0 -2px 20px rgba(0,0,0,.075)
		padding .8em

@keyframes star
	0%
		transform scale(1)
	100%
		transform scale(2)
		opacity 0
